<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Layout 2</title>
  <link rel="stylesheet" href="estilo/estilo.css">
</head>
<body>
  <header>
    <img src="imagen/gh.png" alt="logo" width="50px" height="50px">
    Nav
  </header>
  <div class="container">
    <section>
    <figure>
      1
    </figure>
    <figure>
      2
    </figure>
    <figure>
      3
    </figure>
    <figure>
      4
    </figure>
  </section>
  <section>
  <figure>
    5
  </figure>
  <figure>
    6
  </figure>
  <figure>
    7
  </figure>
  <figure>
    8
  </figure>
</section>
<section>
<figure>
  9
</figure>
<figure>
  10
</figure>
<figure>
  11
</figure>
<figure>
  12
</figure>
</section>
<section>
<figure>
  13
</figure>
<figure>
  14
</figure>
<figure>
  15
</figure>
<figure>
  16
</figure>
</section>
  <div>
    <article>
      1
    </article>
    <article>
      2
    </article>
    <article>
      3
    </article>
  </div>
  <div class="footer">
    <footer>Footer</footer>
  </div>
</body>
</html>
