body{
  font-size: 14px;
  font-family: georgia;
  margin: 30;
}
header{
}
.button1 {
  border-radius: 8px;
  background-color: #e7e7e7;
  color: black;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.11);
  margin: 10px;
}
h1{
  margin: 10px;
  padding: 5px;
}
.container{
  width: 1000px;
  height: 600px;
  display: inline-block;
  border: 1px solid black;
  padding: 30px;
  margin:10px;
}
