body{
  text-align: left;
  margin-left: 50px;
  box-sizing: border-box;
}
h1 {
  font-family:sans-serif;
  font-family: georgia;
}
a.link-nav
{
  font-family: arial;
  font-size: 13px;
  color: skyblue;
}
img {
  padding: 5px;
  width: 900px;
  height: auto;
}
figcaption {
  text-align: left;
  font-family: arial;
  font-weight: lighter;
  font-size: 12px;
}
#date {
  font-family: arial;
  font-size: 19px;
  color: grey;
  font-weight: bold;
  position: relative;
  display: block;
}
.initial {
  float: left;
  font-family: arial;
  margin-right: 12px;
  font-size: 87px;
  font-weight: bold;
  line-height: 1;
}
p{
  font-family: georgia;
  text-align: justify
  margin: 15px 0 40px;
  font-size: 19px;
  line-height: 30px;
}
a:link {
  color: skyblue;
}
a:visited {
  color: violet;
